[paths]
source =
    fastapi_server
    */site-packages

[run]
branch = true
parallel = true
source =
    fastapi_server

[report]
show_missing = true
precision = 2
exclude_lines = 
    if __name__ == .__main__.: