[MAIN]
extension-pkg-allow-list=pydantic
ignored-modules=torch
load-plugins=pylint_pytest

[MESSAGES CONTROL]
disable=c-extension-no-member,
        too-few-public-methods,
        too-many-arguments,
        too-many-locals,
        logging-fstring-interpolation,
        missing-module-docstring,
        missing-class-docstring,
        missing-function-docstring,
        unspecified-encoding,
        missing-timeout